<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../static/css/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" 
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
     crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
   
    
</head>
<body>
    <header>
        <a href="{% url 'index'%}" class="logo"> 
            <img src="../static/img/logo.png" alt="logo tienda">
            <h2 class="nombre-tienda"><img src="../static/img/fondopixel2.png" alt=""></h2 style="background: transparent;">
         </a>
   <nav> 
        <a href="{% url 'index'%}" class="nav-link"><i class="fa-solid fa-house"></i> Inicio </a>
       <a href="{% url 'productos'%}" class="nav-link"><i class="fa-solid fa-bag-shopping"></i> Productos </a>
       
       
       <a href="{% url 'iniciarsesion' %}" class="nav-link"><i class="fa-solid fa-address-card"></i>Iniciar sesión </a>
       <a href="{% url 'EditarPerfil_copy'%}" class="nav-link"><i class="fa-solid fa-user"></i> Editar perfil </a>
       <a href="{% url 'Contacto' %}" class="nav-link"><i class="fa-solid fa-phone"></i> Contacto </a>
      
   
       </header>
      
       <div class="fondo3">
       
        <h1>Whatsapp </h1>
        </i><h2>+56942897936 <i class="fa-brands fa-whatsapp"></i></h2><p>contactenos de lunes a viernes de 10:00 a 20:00 h</p>
     

      <h1>Compre por Telefono</h1>
      <h2>600 300 9400 <i class="fa-solid fa-phone"></i></h2><p>contactenos de sabados a domingos 9:00 a 17:00</p>


        <h1>Siguenos en nuestras redes sociales</h1>
        <h2>Facebook <i class="fa-brands fa-facebook"></i> </h2> <h2>Twitter <i class="fa-brands fa-square-twitter"></i></h2> <h2>instagram <i class="fa-brands fa-instagram"></i></h2>

        <h1>¿Tienes dudas con la entrega del pedido?</h1>
        <h2>Pixels.mint@gmail.com <i class="fa-sharp fa-solid fa-envelope"></i></h2> <p>Escribenos a nuestro correo de 8:00 a 22:00 h y te responderemos a la brevedad</p>


     

       
</body>
</html>